@{
    ViewBag.Title = "About us";
}

<h2>Examen Progreso 1 elaborado por:</h2>
<div style="display: flex; justify-content: center; gap: 30px;">
    <div style="text-align: center;">
        <img src="~/Content/Images/marti.jpg" style="border-radius: 10px; width: 400px; height: 400px; object-fit: cover;" />
        <p style="margin-top: 10px; font-size: 25px;">Martina Damián</p>
    </div>
    <div style="text-align: center;">
        <img src="~/Content/Images/nicoleee.jpg" style="border-radius: 10px; width: 400px; height: 400px; object-fit: cover;" />
        <p style="margin-top: 10px; font-size: 25px;">Nicole Yépez</p>
    </div>
    <div style="text-align: center;">
        <img src="~/Content/Images/sara.jpg" style="border-radius: 10px; width: 400px; height: 400px; object-fit: cover;" />
        <p style="margin-top: 10px; font-size: 25px;">Sara Chiriboga</p>
    </div>
</div>
